@use "./../../styles/partials/mixin" as *;
@use "./../../styles/partials/mixin-mobile" as *;
@use "./../../styles/partials/variables" as *;
@use "./../../styles/partials/mixin-desktop-tablet" as *;

.videos {  
    margin-left:$m-margin;

    @include tablet{
        margin-left:$dt-margin;
    }
    
    &__title {      
        margin:0;
        color: $primary-silver;        
        @include set-mobile-font("LabelFont");

        @include tablet {
            @include  set-desktop-tablet-font("SubHeader");
        }

        @include desktop {
            margin-top:2rem;
        }
    }

    &__list {         
        padding: 0;
        margin: 0;  
        margin-top: 1rem;
        margin-bottom: 2.5rem;   
    }

    &__item {
        display: flex;  
        gap: 1rem;   
        margin-bottom: 0.8rem; 
        
        @include tablet {
            margin-bottom: $dt-margin; 
        }
    }

    &__image-container {
        background-color: $secondary-mercury;
        width:40%;  
        
        @include tablet {
            width:15%;
        }

        @include desktop {
            width:25%;            
        }
    }

    &__image {
        width: 100%;
        background-position: center;  
        border-radius:$border-radius; 
        display: block;      
    }

    &__title-container {
        display: flex;   
        flex-direction: column; 
        justify-content: space-between;
        width: 60%;     
        margin-bottom:0.2rem;
    }

    &__image-title {
        @include set-mobile-font("SectionHeader");
    }

    &__image-channel {
        @include set-mobile-font("BodyFont");
    }
}