/*Tablet, Desktop breakpoint varibles*/
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

/* Primary Colors */
$primary-black: #323232;
$primary-blue: #0095FF;
$primary-silver: #AFAFAF;
$primary-white: #FFFFFF;

/* Secondary Colors */
$secondary-darkBlack: #000000;
$secondary-darkBlue: #0065AD;
$secondary-mercury: #E1E1E1;
$secondary-alabaster: #FAFAFA;

/*Icons Path */
$upload-icon-url: "./../../assets/icons/upload.svg";
$search-icon-url: "./../../assets/icons/search.svg";
$comment-icon-url: "./../../assets/icons/add_comment.svg";

/*padding/margin variables for mobile(m) breakpoint*/
$m-padding: 1rem;
$m-margin: 1rem;
$m-spacing-between-components: 1.5rem;

/*padding/margin variables for Desktop/tablet(dt) breakpoint*/
$dt-padding: 1.5rem;
$dt-margin: 1.5rem;
$dt-spacing-between-components: 2.3rem;

/*Boder-Radius : 4px for site*/
$border-radius: 4px;