/*Tablet, Desktop breakpoint varibles*/
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

/* Primary Colors */
$primary-black:#323232;
$primary-blue:#0095FF;
$primary-silver:#AFAFAF;
$primary-white:#FFFFFF;

/* Secondary Colors */
$secondary-darkBlack: #000000;
$secondary-darkBlue:#0065AD;
$secondary-mercury:#E1E1E1;
$secondary-alabaster:#FAFAFA;

/*Icons Path */
$upload-icon-url: "./../../assets/Icons/upload.svg";
$search-icon-url: "./../../assets/Icons/search.svg"






