@use './../../styles/partials/variables' as *;
@use './../../styles/partials/mixin' as *;

.selected {
    background-color: $secondary-darkBlack;
    display: flex;
    justify-content: center;
    align-items: center;

    &__poster {
        max-width: 100%;
        height: auto;

        @include tablet {
            width: 90%;
        }

        @include desktop {
            width: 65%;
        }
    }
}