@use './../../styles/partials/mixin' as *;
@use './../../styles/partials/mixin-mobile' as *;
@use './../../styles/partials/variables' as *;

.header {
    display: flex; 
    flex-wrap:wrap;    
    padding: $m-padding;
    gap: 0.9rem;
    background-color: $primary-white;    
    
    &__logo {
        padding-left: 5.5rem;
        @include tablet {
            padding-left:$dt-padding;
        }
    }  

    &__row {
        width: 100%;

        @include tablet {
            width: 30%;
            align-self: center;
        }
    }   

    &__search-textbox {
        width: 15rem;        
        height: 2.25rem;
        padding: 0.8rem;
        @include set-form-inputfeild-style();
        @include set-icon-style($search-icon-url);
        background-size: 1rem; //This size for Search Icon   

        @include tablet {
            height: 2.5rem;
            padding: 1rem;
            order:1;
        }
    }

    &__image {
        @include set-mohan-muruge-image-style("Mobile");  

        @include tablet {
            order:3;
        }     
    }

    &__upload-button {
        @include set-button-style("Mobile");
        @include set-icon-style($upload-icon-url);

        @include tablet {            
            @include set-button-style("TabletDesktop");
            order:2;
        }
    }
}