@use "./../../styles/partials/variables" as *;
@use "./../../styles/partials/mixin" as *;
@use "./../../styles/partials/mixin-mobile" as *;
@use "./../../styles/partials/mixin-desktop-tablet" as *;

.comments {
    margin: 0 $m-margin $m-margin $m-margin;

    @include tablet {
        margin: $dt-margin;
    }

    @include desktop {
        margin-left:8rem;
        margin-top:0;
        padding-bottom:3rem;
    }

    &__count-heading {
        @include set-mobile-font("SubHeader");
        margin-bottom: $m-margin;

        @include tablet {
            @include set-desktop-tablet-font("SectionHeader");
            margin-bottom:0;
        }
    }

    &__title {
        @include set-mobile-font("LabelFont");
        color: $primary-silver;
        margin-left: 3.3rem;

        @include tablet {
            @include set-desktop-tablet-font("SubHeader");
            padding-top: 1rem;
        }
    }

    &__container {
        display: flex;
        gap: 1rem;
        border-bottom: 1px solid $secondary-mercury;      
    }

    &__image {
        @include set-mohan-muruge-image-style("Mobile");

        @include tablet {
            @include set-mohan-muruge-image-style("TabletDesktop");
        }
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction:row;
            gap:2.5rem;
            margin-bottom: $dt-margin;
        }
    }

    &__textarea {
        height: 6rem;
        width: 100%;
        padding: 0.8rem 0 0 0.8rem;
        resize: none;
        @include set-form-inputfeild-style;

        @include tablet {
            height: 2.5rem;
            width:70%;
        }

        &--error {
            border: 1px solid $error-state-color;
        }
    }

    &__button {
        @include set-button-style("Mobile");
        margin: 1rem 0;
        @include set-icon-style($comment-icon-url);

        @include tablet {
            margin:0;            
            @include set-button-style("TabletDesktop")
        }
    }

    &__list {
        margin: 0;
        padding: 0;
    }

    &__item {
        list-style-type: none;
        border-bottom: 1px solid $secondary-mercury;  
        
        @include desktop {
            &:last-child {
                border-bottom: none;  /* Remove border-bottom for the last li */
              }
        }
    }

    &__main-container {
        display: flex;
        gap: 1rem;

        @include tablet {
            padding: 0.5rem 0;
        }
    }

    &__item-image {
        @include set-mohan-muruge-image-style("Mobile");
        background-color: $secondary-mercury;
        margin-top: 1rem;

        @include tablet {
            @include set-mohan-muruge-image-style("TabletDesktop");
        }
    }

    &__sub-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 1rem 0 0.7rem 0;
        gap: 0.6rem;

        @include tablet {
            width: 100%;           
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__delete {
        width: 0.7rem;
    }

    &__item-name {
        @include set-mobile-font("SubHeader");
    }

    &__item-date {
        @include set-mobile-font("SubHeader");
        color: $primary-silver;
        font-weight: 400;
    }

    &__item-comment {
        @include set-mobile-font("BodyFont");
    }
}