@use "./../../styles/partials/variables" as *;
@use "./../../styles/partials/mixin" as *;
@use "./../../styles/partials/mixin-mobile" as *;
@use "./../../styles/partials/mixin-desktop-tablet" as *;

.comments {
    margin: 0 $m-margin $m-margin $m-margin;

    @include tablet {
        margin: $dt-margin;
    }

    &__count-heading {
        @include set-mobile-font("SubHeader");
        margin-bottom: $m-spacing-between-components;
    }

    &__title {
        @include set-mobile-font("SubHeader");
        color: $primary-silver;
        margin-left: 3.3rem;

        @include tablet {
            @include set-desktop-tablet-font("SectionHeader");
            padding: 1rem 0 1.3rem 0;
        }
    }

    &__container {
        display: flex;
        gap: 1rem;
        border-bottom: 1px solid $secondary-mercury;

        @include tablet {
            margin: 0 3.6rem;
        }
    }

    &__image {
        @include set-mohan-muruge-image-style("Mobile");

        @include tablet {
            @include set-mohan-muruge-image-style("TabletDesktop");
        }
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__textarea {
        height: 5.5rem;
        width: 100%;
        resize: none;
        @include set-form-inputfeild-style;
    }

    &__button {
        @include set-button-style("Mobile");
        margin: 1rem 0;
        @include set-icon-style($comment-icon-url);

        @include tablet {
            margin: 1.5rem 0;
            @include set-button-style("TabletDesktop")
        }
    }

    &__list {
        margin: 0;
        padding: 0;
    }

    &__item {
        list-style-type: none;
        border-bottom: 1px solid $secondary-mercury;

        @include tablet {
            margin: 0 3.6rem;
        }
    }

    &__main-container {
        display: flex;
        gap: 1rem;
    }

    &__item-image {
        @include set-mohan-muruge-image-style("Mobile");
        background-color: $secondary-mercury;
        margin-top: 1rem;

        @include tablet {
            @include set-mohan-muruge-image-style("TabletDesktop");
        }
    }

    &__sub-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 1rem 0;
        gap: 0.6rem;

        @include tablet {
            width: 90%;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__item-name {
        @include set-mobile-font("SubHeader");
    }

    &__item-date {
        @include set-mobile-font("SubHeader");
        color: $primary-silver;
        font-weight: 400;
    }

    &__item-comment {
        @include set-mobile-font("BodyFont");
    }
}