@use "./../src/styles/partials/typography" as *;
@use "./../src/styles/partials/mixin" as *;
@use "./../src/styles/partials/variables" as *;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "AvenirNext", sans-serif;
}

input,
button,
select,
textarea {
    font-family: inherit;
    /* Inherits font from parent (body) */
}

@include desktop {
    .app {
        &__container {
            display: flex;
        } 
        
        &__row {
            flex: 1;
            border-right: 1px solid $secondary-mercury;          
        }

        &__column {
            flex: 1 0 50%;
            display: flex;
            flex-direction: column;

            &:nth-child(2) {
                flex: 2;
              }
        }
    }
}